<!DOCTYPE html>
<html lang="en">
<head>
  <title>Picopy Gallery</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Picopy</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a>Your Photos</a></li>
      <li><a href="#">View Online Gallery</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="color:white">
      <li><a><span class="glyphicon glyphicon-user"style="margin-right:10px;"></span><%- user == null ? '' : 'Logged in as ' + user.username %></a></li>
    </ul>
  </div>
</nav>
    <body style="background-color:black; margin: 0 !important; padding-top:50px;">
    <div onclick="loadPhotos();" id="gallery-photos">
      <!-- 
        Basically what needs to be done in the gallery, obviously implement whatever else you feel is necessary:
        1) "View my photos" which queries only the user who is logged in's photos. 
        2) Sort by date
        3) Ability to remove your own photos from the gallery?
        4) Hover -> more info on the photo

        I will add a user object that will be passed in (though it won't always contain data i.e. if a user isn't logged in)
        and I will amend the photo database so that it holds a string containing all of the filters applied to it. 
        Let's not add a login button to this page though, complicates things a bit
      -->
      <%
        var gallery = '';
        for(var i = 0; i < photo_count[0].count; i++){
          var path = "/gallery/" + photo_data[i].filename;
          console.log(path); 
          gallery += '<img src="';
          gallery += path;
          gallery += '" class="rounded mx-auto d-block"/>';        
        }
      %><%- gallery %>
    </div>


      
          
    </body>
</html>
