<!-- adopted from mozilla developer pages at: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file-->
<!DOCTYPE html>
<html>
<head>
  <title>Upload Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="upload_screen.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="picopy.js"></script>
  <style type="text/css">
      form img {
      height: 475px;
      order: 1;
      justify-content: center;
    }
  </style>

</head>
<body>

<div class="container">
    <div class="row">
    <div class="col">
    <h1 class="display-1">Picopy</h1>
    </div>
    <div class="col">
      <br>
      <div class="float-right">

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Login
      </button>

      </div>


      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">User Login</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <form>
                <input type="text" class="form-control" placeholder="Username">
               <div class="input-group mb-3">
                 <div class="input-group-prepend">
                   <span class="input-group-text">Username:</span>
                 </div>
                 <input type="text" class="form-control">
               </div>

               <div class="input-group mb-3">
                 <div class="input-group-prepend">
                   <span class="input-group-text">Password:</span>
                 </div>
                 <input type="text" class="form-control">
               </div>
             </form>
            </div>


            <!-- Modal footer -->
            <div class="modal-footer">
              <div class="float-left">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
            </div>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
    <nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery">Gallery Page</a>
      </li>

    </ul>
  </nav>
  <br>
  <form>

    <div class="row">
      <div class="col">
      <label for="image_uploads" class="custom-file-label">Choose image to upload (PNG, JPG)</label>
      <input class="custom-file-input" type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" >
    </div>
    </div>
    <br>
    <div class="row">
    <div class="col">
    <div class="preview">
      <img src="../public/img/no_image.png">
    </div>
  </div>
    <div class="col">
      <div class="card card-block d-flex">
      <div class="card-body">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="" onclick="grayfun()" id="gray">Grayscale</input>
        </label>
      </div>
    </div>
    <div class="card-footer align-items-center d-flex justify-content-center">
      <div class="form-check">
        <button type="button" class="btn btn-outline-primary" onclick="revert()">Revert</button>
      </div>
    </div>
  </div>
</div>
</div>
<br>
    <div class="row">
      <div class="col">
        <div class="card card-block d-flex">
          <div class="card-footer align-items-center d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary btn-lg">Submit</button>
      </div>
      </div>
      </div>
    </div>
</form>
</div>
  <script>
    const input = document.querySelector('input');
    const preview = document.querySelector('.preview');

    input.style.opacity = 0;

    input.addEventListener('change', updateImageDisplay);

    function updateImageDisplay() {


      while(preview.firstChild) {
        preview.removeChild(preview.firstChild);
      }

      const curFiles = input.files;
      if(curFiles.length === 0) {
        const para = document.createElement('p');
        para.textContent = 'No files currently selected for upload';
        preview.appendChild(para);
      } else {
        const list = document.createElement('ol');
        preview.appendChild(list);

        for(const file of curFiles) {
          const listItem = document.createElement('li');
          const para = document.createElement('p');

          if(validFileType(file)) {
            para.textContent = `File Name: ${file.name}, File Size: ${returnFileSize(file.size)}.`;
            const image = document.createElement('img');
            image.src = URL.createObjectURL(file);

            listItem.appendChild(image);
            listItem.appendChild(para);
          } else {
            para.textContent = `File name ${file.name}: Not a valid file type. Update your selection.`;
            listItem.appendChild(para);
          }

          list.appendChild(listItem);
          list.style.textAlign="center";
          list.style.listStyleType = "none";
          //para.classList.add("display-4");
        }
      }
    }

    function grayfun() {
      preview.style.filter="grayscale(100%)";
      document.getElementById("gray").disabled = true;

    }


    function revert() {
      preview.style.filter="none";
      document.getElementById("gray").disabled = false;
      document.getElementById("gray").checked = false;


    }

    const fileTypes = [
      'image/jpeg',
      'image/pjpeg',
      'image/png'
    ];

    function validFileType(file) {
      return fileTypes.includes(file.type);
    }

    function returnFileSize(number) {
      if(number < 1024) {
        return number + 'bytes';
      } else if(number > 1024 && number < 1048576) {
        return (number/1024).toFixed(1) + 'KB';
      } else if(number > 1048576) {
        return (number/1048576).toFixed(1) + 'MB';
      }
    }
  </script>
</body>
</html>
